<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sitechecker.fpa">

    <application
        android:label="SiteChecker"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <!-- Atividade principal do Flutter -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema padrão do Flutter -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <!-- Filtro de intenção para atividade de lançamento -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Metadados para a versão do Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Metadados para o ID do cliente web do Firebase -->
        <meta-data
            android:name="com.google.android.gms.auth.api.services.CLIENT_ID"
            android:value="247669622807-7sm1tpe39e8u7f7d7b8tf5q3hbvk3ad5.apps.googleusercontent.com" />

        <!-- Intent filter para OAuth com o Google -->
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="fpa2024-ef00d.firebaseapp.com" />
            </intent-filter>
        </activity>

        <!-- Não apague os metadados abaixo.
             Eles são usados pelo Flutter para gerar o GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Consultas necessárias (exemplo básico, ajuste conforme necessário) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <!-- Permissões necessárias (exemplo básico, ajuste conforme necessário) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
